.chatbot-container {
  width: 100%; 
  max-width: 400px; 
  margin: 0 auto; 
  height: 200px; 
}

@media (max-width: 768px) {
  .chatbot-container {
    max-width: 95%; 
    height: 100px; 
  }
}

@media (max-width: 480px) {
  .chatbot-container {
    max-width: 90%; 
    
  }
}
