@media (max-width: 576px) {
    .edit-form-container {
      padding: 20px;
    }
  
    .navbar .icon-img {
      width: 10px;
      height: 10px;
    }
  
    .logo-img {
      height: 10px;
    }
  
    .profile-header {
      width: 80px;
      height: 80px;
    }
  }