
.navbar-container {
    background-color: #f8f9fa;
    padding: 10px 15px;
    border-bottom: 1px solid #dee2e6;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .user-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .user-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .username {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .progress-section {
    width: 250px;
    text-align: end;
  }
  
  .btn-group {
    margin-top: 8px;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    justify-content: end;
  }
  
  /* Responsive adjustments */
  @media (max-width: 576px) {
    .navbar-content {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .progress-section {
      width: 100%;
      text-align: start;
    }
  
    .btn-group {
      justify-content: start;
      flex-wrap: wrap;
    gap: 6px;
    }
  
    .user-img {
      width: 20px !important;
      height: 20px !important;
    }
  
    .username {
      font-size: 1rem;
    }
  }
  @media (min-width: 992px) {
  .navbar .user {
    margin-right: 40px !important;
  }

  .navbar .progress-section {
    margin-left: 40px !important;
  }
}
