.step-indicator-wrapper {
  position: relative;
  width: 150px; 
  height: 8px; 
  margin: 0 15px; 
}

.step-indicator {
  position: absolute;
  top: 9px; 
  width: 60%; 
  height: 140%; 
  background-color: blue; 
  transition: left 0.2s ease; 
}
@media (max-width: 576px) {
    .step-indicator  {
    top: 20px;
    }
}